<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Railway Games</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>  
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="assets/plugins/animate-css/animate.min.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles-4.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body data-spy="scroll">
    <!-- ******HEADER****** --> 
    <header id="top" class="header navbar-fixed-top">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <img id="logo-image" class="logo-image" src="assets/images/logo/logo_512.png" alt="Logo">
                    <span class="logo-title">Railway Games</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="#features">Features</a></li>
                        <li class="nav-item"><a class="scrollto" href="#story">Story</a></li>
                        <li class="nav-item"><a class="scrollto" href="#faq">FAQ</a></li>
                        <li class="nav-item last"><a class="scrollto" href="#contact">Contact</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->           
        </div>
    </header><!--//header-->
    
    <!-- ******PROMO****** --> 
    <section id="promo" class="promo section offset-header has-pattern">
        <div class="container">
            <div class="row">
                <div class="overview col-md-8 col-sm-12 col-xs-12">
                    <h2 class="title">Solar Smash</h2>
                    <ul class="summary">
                        <li>Galaxy Conquest game for mobile.</li>
                        <li>Multiplayer only turn based strategy.</li>
                        <li>Social integration with Google+ and Facebook.</li>
                        <li>Unlock new levels and abilities by defeating your enemies.</li>
                    </ul>
                    <div class="download-area">
                        <ul class="btn-group list-inline">
                            <li class="android-btn"><a href="#">Get it from Google Play</a></li>
                            <li class="ios-btn"><a href="#">Coming soon to IOS</a></li>
                        </ul>
                    </div>
                </div><!--//overview-->
                
                <!--// Android starts -->                
                <div class="phone android col-md-4 col-sm-12 col-xs-12">
                    <div class="android-holder phone-holder">
                        <div class="android-holder-inner">
                            <div class="slider flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="assets/images/screenshots/board_screen_1.png"  alt="" />
                                    </li>
                                    <li>
                                        <img src="assets/images/screenshots/home_screen_capture.png"  alt="" />
                                    </li>
                                    <li>
                                        <img src="assets/images/screenshots/victory_1.png"  alt="" />
                                    </li>
                                </ul><!--//slides-->
                            </div><!--//flexslider-->   
                        </div><!--//phone-holder-inner-->                    
                    </div><!--//iphone-holder-->                   
                </div><!--//iphone--> 
                <!--// Android ends -->
                                           
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->
    
    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center sr-only">Features</h2>
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-rocket"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Space Based Strategy</h3>
                        <p>Conquer the galaxy and defend your planets by deploying ships to destroy enemy forces. </p>   
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-cloud"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Multiple Device Support</h3>
                        <p>Seamlessly play across all your devices. </p>  
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-users"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Play with Friends</h3>
                        <p>Connect using either Google Plus or Facebook and play against friends. </p>   
                    </div><!--//content-->               
                </div><!--//item-->
                 <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-plus"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Level Progression</h3>
                        <p>Gain xp to unlock new levels and abilities.  </p>   
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
            
            <div class="row">
               <div class="item col-md-6 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-android"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Full Android Support</h3>
                        <p>Play using your Android phone or tablet.  </p>   
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-6 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-apple"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">IOS support coming soon</h3>
                        <p>Coming soon, play against friends on ios.  </p>  
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-->
    
   
    
    
    
    <!-- ******STORY****** --> 
    <section id="story" class="story section has-pattern">
        <div class="container">
            <div class="row">
                <div class="content col-md-6 col-sm-6 col-xs-12 text-center">
                    <h2 class="title">Story behind the app</h2>
                    <p>We started this project with the aim of fulfilling a life long goal, to create a game. We each had our own exposure to games from a very young age, whether it be jumping platforms in Mario or wondering the halls of Wolfenstein. Given this was the major driving factor to choose a life in programming, we felt we owed it to ourselves to give it a shot.</p>
                    <p>In January 2013 we both faced long commutes to work and the lack of a creative outlet. It seemed like an ideal time to dedicate ourseleves to building comething. What followed was a few months of throwing ideas back and forth, prototyping and learning. Solar Smash started to take form from a number of these ideas. From the start our goal was first and foremost to create a game that we wanted to play, and now we hope you do too.</p>
                </div><!--//content-->
                <div class="team col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1 col-xs-12">
                    <div class="row">
                        <div class="member col-md-6 text-center">
                            <!--  <img class="img-rounded" src="assets/images/team/member-1.png" alt="" />-->
                            <p class="name">Matt Pietal</p>
                            <p class="title">Developer</p>
                            <ul class="connect list-inline">
                                <li><a href="https://twitter.com/MattPietal" ><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/profile/view?id=16719066" ><i class="fa fa-linkedin"></i></a></li>
                                <li class="row-end"><a href="https://github.com/piguy79" ><i class="fa fa-github"></i></a></li>         
                            </ul>
                        </div><!--//member-->
                        <div class="member col-md-6 text-center">
                            <!-- <img class="img-rounded" src="assets/images/team/member-2.png" alt="" /> -->
                            <p class="name">Conor Mullen</p>
                            <p class="title">Developer</p>
                            <ul class="connect list-inline">
                                <li><a href="https://twitter.com/conomullen" ><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/profile/view?id=116693061" ><i class="fa fa-linkedin"></i></a></li>
                                <li class="row-end"><a href="https://github.com/conormullen" ><i class="fa fa-github"></i></a></li>         
                            </ul>
                        </div><!--//member-->
                    </div>
                </div><!--//team-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//story-->
    
    
    <!-- ******FAQ****** --> 
    <section id="faq" class="faq section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center">Frequently Asked Questions</h2>
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>How does the coin system work?</h3>
                        <p class="answer">Every game you start will cost you one coin. When your coin count reaches 0, you will be unable to start a new game or accept a friends invite to play. Once you finish all in progress games, we will give you free coins. Alternativly you can buy more coins.</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>When will the IOS version be available?</h3>
                        <p class="answer">We plan on releasing sometime in June 2014 to ios.</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>What is the best strategy for winning?</h3>
                        <p class="answer">There are many stratagies people employ to win. Most people who pay attention to the cost benefit of capturing a planet do well. Make sure to take into account how much regeneration a planet has against how many ships it will take you to conquer that planet.</p>
                    </div><!--//item-->
                </div><!--//faq-col-->
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>How does the xp system work?</h3>
                        <p class="answer">XP (Experience points) is a system for determining a players rank. Moving through the ranks unlocks more levels in the game. Each planet conquered during a game grants the player XP. Winning a game will grant a large amount of XP to the victor.</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>Can I quit a game I know I am going to lose?</h3>
                        <p class="answer">You can surrender using the resign button in the games options menu. This will grant the win to your opponent.</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>My opponent wont take a move, what are my options?</h3>
                        <p class="answer">After a set timeout you will be prompted to "Claim Victory". Once you decide to claim, you will recieve the win. </p>
                    </div><!--//item-->
                </div><!--//faq-col-->
            </div><!--//row-->
            <div class="more text-center">
                <h4 class="title">More questions?</h4>
                <a class="btn btn-lg btn-theme scrollto" href="#contact">Get in touch<i class="fa fa-arrow-circle-o-down"></i></a>
            </div>
        </div><!--//container-->
    </section><!--//faq-->
    
   
    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="row text-center">
                <h2 class="title">Contact US</h2>
                <div class="intro col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    <p>We’d love to hear from you. Hit us up on Twitter, Facebook or Google Plus with any feedback or questions.</p>
                    <ul class="list-unstyled contact-details">
                        <li><i class="fa fa-envelope"></i><a href="mailto:railwaygames@gmail.com">railwaygames@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                 <ul class="social-icons list-inline">
                    <li><a href="https://twitter.com/RailwayGames" ><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" ><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://plus.google.com/115959516283320282628/" ><i class="fa fa-google-plus"></i></a></li>                  
                </ul><!--//social-icons-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//contact-->  
      
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container">
            <small class="copyright pull-left">Copyright &copy; 2014 Railway Games LLC</small>
        </div>
    </footer><!--//footer-->
    
    <!-- *****CONFIGURE STYLE****** -->  
    <div class="config-wrapper" style="display:none">
        <div class="config-wrapper-inner">
            <a id="config-trigger" class="config-trigger" href="#"><i class="fa fa-cog"></i></a>
            <div id="config-panel" class="config-panel">
                <h5>Choose Colour</h5>
                <ul id="color-options" class="list-unstyled list-inline">
                    <li class="theme-1 active" ><a data-style="assets/css/styles.css" data-logo="assets/images/logo/logo.png" href="#"></a></li>
                    <li class="theme-2"><a data-style="assets/css/styles-2.css" data-logo="assets/images/logo/logo-2.png" href="#"></a></li>
                    <li class="theme-3"><a data-style="assets/css/styles-3.css" data-logo="assets/images/logo/logo-3.png" href="#"></a></li>
                    <li class="theme-4"><a data-style="assets/css/styles-4.css" data-logo="assets/images/logo/logo-4.png" href="#"></a></li>
                    
                    <li class="theme-5"><a data-style="assets/css/styles-5.css" data-logo="assets/images/logo/logo-5.png" href="#"></a></li> 
                    
                    <li class="theme-6"><a data-style="assets/css/styles-6.css" data-logo="assets/images/logo/logo-6.png" href="#"></a></li>
                    <li class="theme-7"><a data-style="assets/css/styles-7.css" data-logo="assets/images/logo/logo-7.png" href="#"></a></li>
                    <li class="theme-8"><a data-style="assets/css/styles-8.css" data-logo="assets/images/logo/logo-8.png" href="#"></a></li>
                    
                    <li class="theme-9"><a data-style="assets/css/styles-9.css" data-logo="assets/images/logo/logo-9.png" href="#"></a></li>
                    <li class="theme-10"><a data-style="assets/css/styles-10.css" data-logo="assets/images/logo/logo-10.png" href="#"></a></li>
                    
                </ul><!--//color-options-->
                <h5 class="device-title">Choose Device</h5>
                <ul id="device-options" class="list-unstyled">
                    <li class="default active"><a data-class="iphone-black" data-type="iphone" href="#">iPhone Black</a></li>
                    <li><a data-class="iphone-white" data-type="iphone" href="#">iPhone White</a></li>
                    <li><a data-class="ipad-white" data-type="ipad" href="#">iPad White</a></li>
                    <li><a data-class="ipad-black" data-type="ipad" href="#">iPad Black</a></li>
                    <li><a data-class="android" data-type="android" href="#">Android</a></li>
                </ul>
                <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
            </div><!--//configure-panel-->
        </div><!--//config-wrapper-inner-->
    </div><!--//config-wrapper-->
     
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/detectmobilebrowser.js"></script>      
    <script type="text/javascript" src="assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="assets/plugins/jquery-inview/jquery.inview.min.js"></script>
    <script type="text/javascript" src="assets/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>    
    <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <!--[if !IE]>--> 
    <script type="text/javascript" src="assets/js/animations.js"></script> 
    <!--<![endif]-->         
</body>
</html> 

